[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PAMmisc"]
	path = PAMmisc
	url = https://github.com/taikisan21/pammisc
[submodule "PAMpal"]
	path = PAMpal
	url = https://github.com/taikisan21/pampal
[submodule "PAMscapes"]
	path = PAMscapes
	url = https://github.com/taikisan21/pamscapes
[submodule "PamBinaries"]
	path = PamBinaries
	url = https://github.com/taikisan21/pambinaries
